body{
    font-family: arial,sans-serif;
	font-size:9pt;
	margin:3px;
}
#laporan{
	color:black;
	padding:4px 2px;
}
#laporan table{
	border-collapse:collapse;
	border: 1px solid;
	font-size:9pt;
}
		/*#laporan table th{
		background:F1E7E8;
		font-weight:bold;
		vertical-align:middle;
		padding:5px;
		}

		#laporan table td{
		background:c8bfbf;
		padding:4px;
		}

		#laporan table bp{
		border:black;
		}
		.pagebreak{
		visibility:visible;
		page-break-after:always;
		}
		.garis{
			border:solid 1px;
		}
		.nongaris{
			border: none;
		}*/
		/* table, th, td {
			border: 1px solid black;
		  }
		   */